// Variables
$maincolor: rgb(204, 204, 204);
$contrastcolor: rgb(23, 137, 230);

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin black-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}

// Header

nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;

    a {
        @include white-text-black-bg;

        div {
            margin: 10px;
            font-size: large;
        }

        text-decoration: none;
    }
    font-family: 'Poppins', sans-serif;
}